/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    height: 850px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.topAbsolute90 {
    top: 90% !Important;
}

.margin0{
    margin:0;
}

.type {

    border: 1px solid #ebeaea;

    position: relative;

    margin-top: 30px;

    display: block;

    font-family: 'Roboto Condensed', sans-serif;

}



.type_caption {

    position: absolute;

    left: 0;

    bottom: 0;

    display: block;

    width: 170px;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box;

    -o-box-sizing: border-box;

    box-sizing: border-box;

    background: url(../images/capt_bg.png) 0 0 repeat;

    color: #fff;

    font-size: bold;

    font-size: 18px;

    line-height: 20px;

    padding: 7px 10px 8px;

    transition: 0.5s ease;

    -o-transition: 0.5s ease;

    -webkit-transition: 0.5s ease;

}



.type:hover .type_caption {

    width: 100%;

}

.type+.type {

    margin: 11px;

}

.type+.type+.type {

    margin: 10px;

}

.justifyAlign{
    text-align:justify;
}

.Inline{
    display: inline;

}

.marginTop5{
    margin-top: 5px;
}

.fontText{
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);

}

.btn-large{
    border-radius: 25px;

}

.cus-light-blue{
    background-color:#47b8e5
}

.cus-light-blue:hover{
    background-color: #1fa5da;
    border-color: #1fa5da;
    color: #fff;
}

.indexBarText{

    background-color:#47b8e5;
    font-weight: bold;
    font-size: 20px;
    color:#fff !important;
    border-radius: 25px;
    max-width: 1000px;
    text-align: center;
    margin:auto;
    margin-top: 10px;
    margin-bottom:10px;
    min-width: 300px;

}

#preloader { 
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 101;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    width: 120px;
    height: 120px;
    display:none;
}

#customoverlay
{   
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF;
    opacity: .3;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    z-index: 100;
}

.indexTitle{
    width:300px;
    margin:auto;
    border-radius: 25px
}

.goldFont{
    color:#feed80;
    font-family: "Aldus LT W01 Roman","Times New Roman",serif;
    text-transform: uppercase;
}

.whiteFont{
    color:#FFFFFF;
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
}

.yellowFont{
    color:#877e48;
    font-family:  Arial, Verdana, Helvetica, sans-serif;
    font-size: 12pt;

}

.backgroundSet{
    background: url("../images/bg.png")  repeat;
}


.goldTextLink{
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
    color:#feed80;
    border-bottom: #837A43 solid 1px;
}
.goldTextLink div a:hover{
    color:#FFFFFF;
}

.goldLink{
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
    color:#feed80;
}
.goldLink a:hover{
    color:#FFFFFF;
}

.geryTextLink{}

.greyTextLink div a{
    color:#A8A8B0
}

.greyTextLink div a:hover{
    color:#FFFFFF;
}

.menuText li{
    color:#feed80;
}

.menuText li a{
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
    color:#feed80;

}

.menuText li a:hover{
    color:#FFFFFF;
}

.menumText li{
    color:#feed80;
}

.menumText li a{
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
    color:#feed80;
    border-bottom:#feed80 1px solid;

}

.menumText li a:hover{
    color:#FFFFFF;
}

.boxBorder{
    border:#feed80 1px solid;
    margin-top: 8px;
}

.boxBorderThick{
    border:#feed80 3px solid;
}

.ulliMargin{

}
.ulliMargin li{
    margin-top: 5px;
}

.height180{
    min-height:190px;
}

.sectionTitle{
    background: url('../images/smallLines.png') no-repeat scroll center bottom transparent;
    padding: 7px 5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "Aldus LT W01 Roman","Times New Roman",serif;
    font-weight: 200;

}

.buttonGold{
    text-transform: uppercase;
    border: 2px solid #eec551;
    padding: 13px 15px 5px 15px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin: 2px auto;
    height:50px;
    text-align: center;
}

.buttonGold:hover{
    color:#816620;
}

input {
    color:#D7C2B0;
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
}

textarea{
    color:#D7C2B0;
    font-family: Trebuchet MS ,Arial, Verdana, Helvetica, sans-serif;
}
.logoStyle{
    max-width:100%;
    max-height: 70px;
    margin:5px auto;
}

.logoLink{
    position:relative !important;
    color:#feed80;

}

.banner{

    width:100%;
    margin:auto;
    border: #feed80 1px solid;
    margin-top: 40px;
}

.menuStyle {
    background: #000000;
    border-bottom: #837A43 solid 1px;
    border-up: #837A43 solid 1px;
    height:80px;
}

.facebookLogo{
    opacity: 0.6;
}

.facebookLogo:hover{
    opacity: 1;
}

.buttonNavSide{
    position:absolute !important;
    top:10px;
    left:-20px;
}